@use '@cloudscape-design/design-tokens' as awsui;

.h {
  position: sticky;
  //top: 0;
  z-index: 1002;

  display: block;
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #0f1b2a;
  font-family: awsui.$font-family-base;
  border-bottom: solid 1px #414d5c;
}

.f {
  align-items: center;
  background-color: #0f1b2a;
  bottom: 0;
  display: flex;
  font-family: awsui.$font-family-base;
  font-size: 14px;
  gap: 10px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  min-height: 40px;
  padding: 0 40px;
  border-top: solid 1px #414d5c;
  position: sticky;
  color: awsui.$color-text-home-header-secondary;
  right: 0;
  // z-index should be higher than side navigation
  z-index: 2000;
  @media only screen and (max-width: 493px) {
    padding: 10px 20px;
  }
  @media only screen and (max-width: 688px) {
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 1182px) {
    padding: 2px 40px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin: 0;
    flex-wrap: wrap;

    li,
    a {
      color: awsui.$color-text-home-header-secondary;
      text-decoration: none;

      .external-link {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 16px;

        svg {
          display: inline-block;
          fill: none;
          height: 16px;
          stroke-width: 2px;
          stroke: currentColor;
          width: 16px;

          .stroke-linecap-square {
            stroke-linecap: square;
          }

          .stroke-linejoin-round {
            stroke-linejoin: round;
          }
        }
      }
    }

    a {
      cursor: pointer;
    }
  }

  li:not(:last-child) a {
    border-right: 1px solid awsui.$color-border-control-default;
    padding-right: 10px;
  }
}
